.titulo {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  margin: 0, 8rem;
  align-items: flex-start;
}

.modal-footer {
  justify-content: center;
}
